In [1]:
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

In [2]:
st = 'Print only the words that start with s in this sentence'

In [11]:
for i in st.split():
    if i[0] == 's':
        print(i)

start
s
sentence

In [13]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [16]:
list=[x for x in range(1,51) if x % 3 ==0]

In [17]:
list

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [18]:
xt = 'Print only the words that start with s in this sentence'

In [22]:
for i in st.split():
    if len(i) % 2 == 0:
        print(i,"even")
    else:
        print(i)

Print
only even
the
words
that even
start
with even
s
in even
this even
sentence even

In [30]:
def fizzbuzz():
    for i in range(1,20):
        if i % 15 == 0:
            print(i, "FIZZBUZZ")
        elif i % 5 == 0:
            print(i,"BUZZ")
        elif i % 3 == 0:
            print(i,"FIZZ")
        else:
            print(i)

In [31]:
fizzbuzz()

1
2
3 FIZZ
4
5 BUZZ
6 FIZZ
7
8
9 FIZZ
10 BUZZ
11
12 FIZZ
13
14
15 FIZZBUZZ
16
17
18 FIZZ
19

In [40]:
st = 'Create a list of the first letters of every word in this string'
[x[0] for x in st.split()]

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [70]:
import random
def numberguess():
    number = random.randint(1,100)
    
    guesses=[]
    while True:
        guess=int(input("Enter your guess:"))
        if guess > 100 or guess < 1:
            print("Out of bounds")
            continue
        guesses.append(guess)
        if guess == number :
            print(f"Congratulations, you guessed the number {number} correctly in {len(guesses)} tries")
            break
        if len(guesses) < 2:
            if abs(number-guess) < 10:
                print("warmer")
            else:
                print("colder")
        else:
            if abs(number - guesses[-1]) < abs(number - guesses[-2]):
                print("warm") 
            else:
                print("cold")

In [67]:
numberguess()

cold
warm
warm
warm
cold
warm
warm
warm
Congratulations, you guesses the number 58 correctly in 9 tries

In [73]:
from math import pi
def vol(rad):
    return ((4/3)*pi*(rad**3))

In [74]:
vol(2)

33.510321638291124

In [78]:
def ran_check(number,low,high):
    return number < high and number > low

In [80]:
ran_check(3,4,17)

False

In [84]:
def ran_check2(num,low,high):
    if num not in range(low,high):
        print(f"the number {num} is not in range between {low} and {high}")
    else:
        print(f"the number {num} is in range between {low} and {high}")

In [86]:
ran_check2(103,10,20)

the number 103 is not in range between 10 and 20

In [219]:
def up_low(s):
    upper = sum(1 for i in s if i.isupper())
    lower = sum(1 for i in s if i.islower())
    print(f"No. of Upper case characters : {upper}\nNo. of Lower case characters : {lower}")

s = 'Hello Mr. Rogers, how are you this fine Tuesday?'
up_low(s)

No. of Upper case characters : 4
No. of Lower case characters : 33

In [543]:
sentence = "Hello, world!"
letters_only = []
for char in sentence:
    if char.isalpha():
        letters_only.append(char*3)
print(letters_only)

['HHH', 'eee', 'lll', 'lll', 'ooo', 'www', 'ooo', 'rrr', 'lll', 'ddd']

In [216]:
def unique_list(lst):
    return list(set(lst))

In [217]:
list(set([1,1,1,2,2,2,3,3,3,]))

[1, 2, 3]

In [233]:
def multiply(numbers):
    count = 1
    for i in numbers:
        count*=i
    return count

In [234]:
multiply([1,2,3,-4])

-24

In [237]:
def palindrome(s):
    return s == s[::-1]

In [238]:
palindrome("hehe")

False

In [239]:
palindrome("heeh")

True

In [241]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):

In [258]:
for i,j in enumerate(list1):
    print(i,j)

0 1
1 |
2 2
3 |
4 3
5 |

In [259]:
list1=[1,2,3,4,5]
list2 = "thewnfgtlkn"

In [260]:
for i in zip(list1,list2):
    print(i)

(1, 't')
(2, 'h')
(3, 'e')
(4, 'w')
(5, 'n')

In [265]:
for i,j in enumerate(list1):
    print(i,j)

0 1
1 2
2 3
3 4
4 5

In [268]:
list3=map(list1,list2)

In [269]:
list3

In [277]:
def lesser_of_two_evens(a,b):
    if (a+b) % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [278]:
lesser_of_two_evens(4,7)

7

In [279]:
lesser_of_two_evens(2,4)

2

In [280]:
lesser_of_two_evens(2,5)

5

In [317]:
def animal_crackers(text):
    return text.split()[0][0] == text.split()[1][0]

In [318]:
animal_crackers('Levelheaded Llama')

True

In [320]:
animal_crackers('Levelheaded lama')

False

In [333]:
def makes_twenty(n1,n2):
    return  n1 == 20 or n2 == 20 or n1 + n2 == 20

In [334]:
print(list1)
sum(list1)

[1, 2, 3, 4, 5]

15

In [335]:
makes_twenty(8,12)

True

In [336]:
makes_twenty(20,10)

True

In [337]:
makes_twenty(2,3)

False

In [364]:
def master_yoda(text):
    txz = text.capitalize().split()[::-1]
    return " ".join(txz).capitalize()

In [365]:
master_yoda("I am home")

'Home am i'

In [366]:
def almost_there(n):
    return abs(n-100) <= 10 or abs(n-200) <= 10

In [368]:
almost_there(90)

True

In [371]:
almost_there(104)

True

In [372]:
almost_there(150)

False

In [373]:
almost_there(209)

True

In [488]:
def has_33(nums):
    for i in range(len(nums)-1):
        if nums[i]==3 and nums[i+1] == 3:
            return True
    return False

In [489]:
has_33([11,3,3])

True

In [490]:
has_33([1, 3, 3])

True

In [491]:
has_33([1, 3, 1, 3])

False

In [492]:
has_33([3,3])

True

In [575]:
def paper_doll(text):
    result = ''
    for char in text:
        result += char * 3
    return result

In [576]:
paper_doll('gello')

'gggeeellllllooo'

In [527]:
def spy_game(nums):
    for i in range(len(nums)-2):
        if nums[i] == 0 and nums[i+1] == 0 and nums[i+2] == 7:
            return True
    return False

In [528]:
spy_game([1,2,4,0,0,7,5])

True

In [529]:
spy_game([1,0,2,4,0,5,7])

False

In [530]:
spy_game([1,7,2,0,4,5,0])

False

In [532]:
spy_game([1,0,2,4,0,0,7])

True

In [533]:
spy_game([1,2,4,0,0,7,5])

True

In [538]:
def summer_69(arr):
    count = 0
    status = True
    while status:
        for i in arr:
            count += i
        if arr[i] == 6:
            status = False
            break
        if arr[i] == 9:
            status = True
            count+=1
    return count

In [539]:
summer_69([1, 3, 5])

IndexError: list index out of range

In [569]:
def count_primes(num):
    pnum=[2,3,5,7]
    for i in range(8,num+1):
        if i % 2 == 0 or i % 3 == 0 or i % 5 == 0 or i % 7 == 0:
            continue
        else:
            pnum.append(i)
    return len(pnum)

In [570]:
count_primes(100)

25

In [588]:
def blackjack(a,b,c):
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    if sum((a,b,c)) > 21:
        if a==11 or b==11 or c==11:
            if sum((a,b,c)) - 10 > 21:
                return "BUST"
            return sum((a,b,c)) - 10
        return "Bust"

In [589]:
blackjack(5,6,7)

18

In [590]:
blackjack(9,9,9)

'Bust'

In [591]:
blackjack(9,9,11)

19